/**
 * Opinionated additions/extensions to Normalize.
 */

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * Display vertical scrollbar at all times.
 */
html {
	overflow-y:scroll;
}

/**
 * Normalize body background and text color.
 */
body {
	background-color:#fff;
	color:#000;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Add help cursor for some elements.
 */
abbr[title], acronym[title], dfn {
	cursor:help;
}

/**
 * Improve horizontal rule display.
 */
hr {
	display:block; padding:0; margin:1em 0;
}

/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Improve display of numbered list items in IE 6/7.
 */
ol li {
	*display:list-item;
	*vertical-align:top;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * 1. Alternative text will be visually offset if images don’t load.
 * 2. Remove the gap between images and the bottom of their containers.
 */
img {
	font-style:italic;
	vertical-align:bottom;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Display ellipsis in placeholders so they don’t get cut off.
 */
::-webkit-input-placeholder {
	text-overflow:ellipsis;
}
:-moz-placeholder {
	text-overflow:ellipsis;
}
::-moz-placeholder {
	text-overflow:ellipsis;
}

/**
 * 1. Set sensible defaults for elements with invalid form input.
 * 2. Set sensible styling for all browsers.
 */
input:invalid,
textarea:invalid {
	outline:0; /* 1 */
	-webkit-box-shadow:0 0 4px #f00; /* 2 */
	        box-shadow:0 0 4px #f00; /* 2 */
}

/**
 * Line wrap text in `legend` for IE.
 */
legend {
	display:table;
}

/**
 * 1. Constraint `textarea` to vertical resize only.
 * 2. A hack for HTML5 `contenteditable` attribute on mobile.
 */
textarea {
	resize:vertical; /* 1 */
}
textarea[contenteditable] {
	-webkit-appearance:none; /* 2 */
}

/**
 * Set `select` background color to white because some OSs (e.g. Linux) don’t
 * use it as default.
 */
select {
	background-color:#fff;
}

/**
 * Add pointer cursor to some form elements for better interactivity.
 * 1. Cater to IE 6/7 bug where cursor won’t work on `span` elements.
 */
a[href] span, button span, /* 1 */
select,
label[for],
input[type="image"] {
	cursor:pointer;
}

/* ==========================================================================
   Accessibility
   ========================================================================== */

/**
 * Visually emphasize elements with custom tabindex which should
 * be keyboard accessible.
 */
[tabindex="0"] {
	outline:thin dotted;
}

/* ==========================================================================
   Responsive
   ========================================================================== */

/**
 * Get IE 10 Snap Mode to play nicely with `meta` viewport.
 * Also, set it for other browsers and future-proof it.
 */
@-webkit-viewport { width:device-width; }
   @-moz-viewport { width:device-width; }
    @-ms-viewport { width:device-width; }
     @-o-viewport { width:device-width; }
        @viewport { width:device-width; }
